<!DOCTYPE html>
<html lang="en">
<head> 
    <title>LOGIN-PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="pics/man.avif" width="140px" height="140px">
    <div id="form">
        <form>
            <div >
                <input type="text" placeholder="Enter Username">
            </div>
            <div>
                <input type="email" placeholder="Enter Your Email">
            </div>
            <div>
                <input type="Possword" placeholder="Enter Your Possword">
            </div>
            <div>
                <input type="Possword" placeholder="Confirm Your Possword">
            </div>
            <div>
                <textarea placeholder="Enter Description"></textarea>
            </div>
            <div class="button">
                <button>Register Here</button>

            </div>
        </form>
        <footer ></footer>
    </div>

</body>